*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --FF: "Roboto", sans-serif;
  --FS-SMALL: 18px;
  --FS-MEDIUM: 36px;

  --HERO-MARGIN: 18rem;

  --BG-COLOR-DARK: #1f2937;
  --BG-COLOR-2: #e5e7eb;
  --BG-COLOR-3: #3882f6;
  --FONT-COLOR-1: #f9faf8;
  --FONT-COLOR-2: #e5e7eb;
  --FONT-COLOR-3: #1f2937;
  --BUTTON-BG-COLOR: #3882f6;
  --BORDER: 4px solid #3882f6;
}

body {
  font-family: var(--FF);
}

#header {
  background-color: var(--BG-COLOR-DARK);
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header__nav {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-right: var(--HERO-MARGIN);
}

#logo {
  font-size: 24px;
  color: var(--FONT-COLOR-1);
  margin-left: var(--HERO-MARGIN);
}

#header a {
  font-size: var(--FS-SMALL);
  color: var(--FONT-COLOR-2);
}

#header a {
  text-decoration: none;
}

#hero {
  background-color: var(--BG-COLOR-DARK);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

#hero h1 {
  font-size: 48px;
  color: var(--FONT-COLOR-1);
  font-weight: 800;
}

#hero p {
  color: var(--FONT-COLOR-2);
}

.button {
  background-color: var(--BUTTON-BG-COLOR);
  color: var(--FONT-COLOR-1);
  padding: 8px 24px;
  border-radius: 12px;
  font-size: var(--FS-SMALL);
}

#hero .button {
  border: none;
  margin-top: 12px;
}

.hero__content {
  width: 400px;
  margin-left: var(--HERO-MARGIN);
}

.placeholder-img {
  height: 225px;
  width: 500px;
  background: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--HERO-MARGIN);
  color: var(--FONT-COLOR-1);
}

.information {
  height: 400px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.information h2 {
  margin-top: 32px;
  font-size: var(--FS-MEDIUM);
  font-weight: 800;
  color: var(--FONT-COLOR-3);
}

.information__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.img-container {
  width: 150px;
}

.image {
  width: 150px;
  height: 150px;
  border: var(--BORDER);
  border-radius: 10px;
  margin-bottom: 5px;
}

#quote {
  height: 250px;
  background-color: var(--BG-COLOR-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-container {
  width: 800px;
}

.quote {
  font-size: var(--FS-MEDIUM);
  font-style: italic;
  font-weight: 300;
  text-align: left;
}

.quote-container p:last-child {
  display: flex;
  justify-content: flex-end;
}

#cta {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--BG-COLOR-3);
  gap: 10px;
  padding: 50px 100px;
  border-radius: 10px;
  gap: 200px;
  color: var(--FONT-COLOR-1);
}

.cta .button {
  border: none;
  outline: 2px solid #f9faf8;
}

footer {
  background-color: var(--BG-COLOR-DARK);
  color: var(--FONT-COLOR-1);
  padding: 20px;
  text-align: center;
}
